
.text-title {
  color: var(--color-title-light);
}

.text-primary {
  color: var(--color-primary-text-light);
}

.text-secondary {
  color: var(--color-secondary-text-light);
}

.text-disabled {
  color: var(--color-disabled-light);
}

.text-border {
  color: var(--color-border-light);
}

.text-background {
  color: var(--color-background-light);
}

.text-title-dark {
  color: var(--color-title-dark);
}
.text-primary-dark {
  color: var(--color-primary-text-dark);
}
.text-secondary-dark {
  color: var(--color-secondary-text-dark);
}
.text-disabled-dark {
  color: var(--color-disabled-dark);
}
.text-border-dark {
  color: var(--color-border-dark);
}
.text-background-dark {
  color: var(--color-background-dark);
}