.font-caption {
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
}

.font-body-2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.font-body-1 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.014em;
}

.font-button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.014em;
}

.font-menu {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.014em;
}

.font-subheader {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.014em;
}

.font-heading-3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.016em;
}

.font-heading-2 {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  letter-spacing: 0.018em;
}

.font-heading-1 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 0.02em;
}